*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto;
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url("assets/fonts/RobotoLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/RobotoMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/RobotoBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Forum;
    src: url("assets/fonts/Forum/Forum-Regular.ttf");
    font-weight: 400;
}
body {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
h1,h2,h3 {
    font-family: 'Forum', serif;
    font-weight: 400;
}
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}

main {
    border: 1px solid red;
    min-height: 50px;
}
.section {
    padding-top: 5%;
    padding-bottom: 5%;
}
.dark-section {
    background-color: #222;
    color: #fff;
}
.video-section {
    padding-top: 6%;
}